html
  head
    title='My Company'
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css')
    block head
  body
    block content
      
    script(src='https://unpkg.com/vue/dist/vue.js')
    
    block script
